body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.weather {
  margin: 20px;
  padding: 10px;
  border: 3px solid rgba(128, 128, 128, 0.115);
  background-color: floralwhite;
}

#forecast {
  margin-top: 40px;
  text-align: center;
}

.forecast-time {
  align-items: center;
}

.forecast-temperature-min {
  opacity: 0.3;
}

.active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.active:hover {
  text-decoration: underline;
}

#fahrenheit-link {
  text-decoration: none;
}

#fahrenheit-link:hover {
  text-decoration: underline;
}


.dev-info {
  margin: 20px;
  padding: 10px;
}

.block {
  color: white;
  background-color: turquoise;
  border-radius: 5rem;
  border: none;
  font-size: 1.5rem;
  padding: 0.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  cursor: pointer;
  text-align: center;
  margin: 0;
}

#location-button {
  color: white;
  background-color: blueviolet;
  border-radius: 5rem;
  border: none;
  font-size: 1.5rem;
  padding: 0.25rem;
  cursor: pointer;
  text-align: center;
  margin: 0;
}

#query {
  color: darkgrey;
  background-color: rgba(128, 128, 128, 0.115);
  border-radius: 5rem;
  padding: 5px 5px;
  font-size: 20px;
  border: 3px solid rgba(128, 128, 128, 0.115);
}

h1 {
  margin: 0;
}

h2 {
  font-size: 18px;
  margin-bottom: 40px;
  color: darkgrey;
}

.row.text-center {
  column-gap: 20px;
}

.temp>.col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

#low {
  color: red;
}

h1>a {
  text-decoration: none;
}

h1>a:hover {
  text-decoration: underline;
}

.actions{
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  margin-bottom: 2rem;
}

#search-form {
  display: grid;
  grid-template-columns: auto min-content;
  gap: 1rem;
}

#temperature-humidity {
  color: darkgrey;
}

#temperature-wind {
  color: darkgrey;
}